<!DOCTYPE html>
<html lang="en">
<head>
<% include partials/header %>
</head>
<body>
<% folders.forEach(function(folder) { %>
  <a href="/presentation/<%=folder%>"><h1><%=folder%></h1></a>
<% }); %>
</body>
<% include partials/footer %>
</html>
